@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

body {
    font-family: sans-serif;
    font-size: 1.5em;
} 

button {
    font-size: 1.5em;
} 

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.click_choose:hover, a:hover, button:hover {
    cursor: pointer;
    color: red;
}

.click_choose:active, a:active, button:active {
    color: white;
    background-color: black;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
