[Desktop Entry]
Version=1.0
Name=VLC audio CD launcher
GenericName=CD player
Comment=Play audio CDs
Exec=/usr/bin/vlc cdda:// --started-from-file %U
TryExec=/usr/bin/vlc
Icon=vlc
Terminal=false
Type=Application
Categories=AudioVideo;Player;
MimeType=x-content/audio-cdda;
Keywords=Player;Audio;
