[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=ripdvd
Exec=/home/klipspringer/klipspringer/autorip/ripdvd.sh %U
Comment=dvd rip script
